body{
    background-color: rgb(245, 222, 179);
}

.navigation{
    display: flex;
    align-items: center;
    background-color: rgb(222, 184, 135);
    height: 40px;
}

a{  
    font-size: 20px;
    color: rgb(255, 248, 220);
    padding-left: 10px;
}